@import url('https://fonts.googleapis.com/css2?family=Acme&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    background-color: #0f172a;
} */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* appearance: none; */
    /* margin: 0; */
}